# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*
*.egg-info/
.Python

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/react-admin/node_modules/
frontend/react-admin/.cache/
frontend/static/

# Logs
*.log

# Build
dist/
build/
out/
coverage/
*.tgz

# OS generated
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Misc
*.bak
*.tmp
*.orig
